*~

# Ignore hidden files/dirs by default:
.*
!.gitignore

# Misc temp/cache files:
Makefile*
stamp*
aclocal*
*cache

*.in
*.log
*.status

*.o
*.a
*.P

!*.am

autoconf-template

nsb/src/nsb

# Specific stuff:
log.log.txt
