# Ignore hidden files/dirs by default:
.*
!.gitignore

# Misc temp/cache files:
Makefile*
!*.am

stamp*
aclocal*
*cache

*.in
*.ac
*.log
*.status

*.o
*.a
*.P

autoconf-template

nsb/src/nsb

# Specific stuff:
log.log.txt
